
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

.globalStyle {
    margin: 10px;
}

.header {
    div {
    display: flex;
    justify-content: space-around;
    width: 90%;
    font-size: 20px;
    }
    display: flex;
    justify-content: space-around;
    margin: 20px;
    button {
        font-size: 13px;
    }
}